 /* Folha de Estilos da página index.html */
 body{
    background-color: #565656;
    color:aliceblue;
}
.container{
    border-radius: 10px;
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
    padding: 1rem;
    /*justify-content: space-around;*/
    background-color: #3d032a
}
.header{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 30px;
}
.credits{
    padding: 1rem;
}
.h-title{
    margin-bottom: 30px;
    text-align: center;
    font-size: 45px;
    color: yellow;
}
.h-subtitle{
    padding: 0.5rem;
    font-weight: 300;
    text-align: center;
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
}
.logo-title{
    padding-top: 25px;
    size: 40px;
    margin-top: 0.3rem;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-r{
    font-size: 18px;
    justify-content: center;
    font-weight: 300;
    margin-bottom: 18px;
}
.flex-container{ 
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.body-container{
    width: 100%;
    background-color: #560c3d;
    align-items: center;
    border-radius: 10px;
}
.bright{
    /*margin-top: 5px;*/
    /*background-color: #6660de;*/
    background-color: rgb(28, 43, 248);
    border-color: white;
    border-inline-color: white; 
    border-radius: 1px;
    box-shadow: 1px 1px 1px 3px rgba(2, 44, 99, 0);
    width: 100%;
    filter: brightness(300%)
}
.col-1{
    width: 23%;
    background-color: blue;
    padding: 0.5rem;
    border: bold;
    box-shadow: 1px 1px 3px 3px rgb(2, 44, 99);
    border-radius: 10px;
}
.col-2{
    width: 23%;
    background-color: blue;
    padding: 0.5rem;
    border: bold;
    box-shadow: 1px 1px 3px 3px rgb(2, 44, 99);
    border-radius: 10px;
}
.col-3{
    width: 23%;
    background-color: blue;
    padding: 0.5rem;
    border: bold;
    box-shadow: 1px 1px 3px 3px rgb(2, 44, 99);
    border-radius: 10px;
}
button{
    padding: 0.5rem 1rem;
    background-color:black;
    color: white;
    cursor: pointer;
    width: 94px;
    height: 45px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /*box-shadow: 1px 1px 3px 0px rgba(0, 0, 1, 1);*/
    text-align: center;
    font-weight: 300;
}
button:hover{
    background-color: #3d032a;
}
.image-group{
    display: flex;
    margin-top: 0.6rem;
    justify-content: center;
}
input{
    width: 60%;
    height: 9px;
    padding: 0.9rem;
    font-size:1.2rem;
    border-radius: 6px;
    border: 0;
    margin: 10px;
}
input:focus{
    outline: none;
    box-shadow: 0 0 10px #009E9E
}
@media (max-width: 720px){
    .html{
        font-size: 12px;
    }
    .container{
        margin-right: none;
        margin-left: none;
    }
    .flex-container{
        flex-direction: column;
    }
    .col-1, .col-2, .col-3{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
}