 /* Folha de Estilos da página index.html */
 body{
    background-color: #565656;
    color:aliceblue;
}
.h-title{
    size: 888px;
    color: yellow;
}
.h-subtitle{
    size: 555px;
    color: white;
}
.logo-title{
    size: 24px;
    margin-top: 0.5rem;
    text-align: center;
}
.container{
    margin-top: 222px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-around;
    background-color: #3d032a
}
.cad-register{
    width: 100%;
    background-color: #770a53;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.cards1{
    width: 34%;
    background-color: blue;
    padding: 0.6rem;
    margin-right: 5px;
    border: bold;
    box-shadow: 1px 1px 3px 3px rgba(2, 44, 99, 0)
}
.cards2{
    width: 34%;
    background-color: blue;
    padding: 0.5rem;
    margin-right: 5px;
    border: bold;
    box-shadow: 1px 1px 3px 3px rgba(2, 44, 99, 0)
}
.cards3{
    width: 34%;
    background-color: blue;
    padding: 0.5rem;
}
button{
    background-color:black;
    color: white;
    cursor: pointer;
    width: 22%;
    margin-left: 188px;
    border-radius: 5px;
    margin-top: 0.5rem;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 1, 1);
}
button:hover{
    background-color: #3d032a;
}
.image-group{
    margin-top: 0.6rem;
    text-align: center;
}